.common_header {

  background-color: #fff;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);

  .header_content {
    display: flex;
    align-items: center;
    width: 1440px;
    margin: 0 auto;
  }

  .header_logo {
    height: 48px;
  }


  .search {
    display: flex;
    align-items: center;
    margin: 0 64px;
    width: 760px;

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
      border-radius: 0px 4px 4px 0px;
      background: #E83421;
      cursor: pointer;
    }
  }
  
  .mine {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    margin-right: 28px;
    cursor: pointer;

    .headerIcon {
      color: #E83421;
      font-size: 18px;
      margin-right: 6px;
    }

    p {
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 20px;
      border-radius: 50%;
      background-color: #E83421;
      color: #FFF;
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 3px;
    }

    img {
      // width: 18px;
      height: 26px;
    }

    h3 {
      margin: 0 6px;
    }
  }
  .cart{
    .ant-badge{
      margin-right: 12px;
    }
  }
}
