.k12_empty_container{
  // background-color: aqua;
  flex: 1 1 0;
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center;    /* 垂直居中 */
  // background-color: red;
  height: 100%;
}

