.teach-source {
  height: 100%;
  &-header {
    padding: 20px 13px;
    background: #EFF1F8;
    display: flex;

    .header-left {
      color: #646E8B;
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    .svg-icon {
      margin-right: 6px;
    }
  }
  .ant-splitter-panel {
    background-color: #fff;
    overflow: hidden;
    padding: 0;
    // border-radius: 12px;
  }
  .ant-splitter-bar {
    padding-right: 2px;
  }
}
