.frequent-dropdown-btn {
    padding: 0 6px;
    gap: 2px;
}
.frequent-dropdown-item {
    padding: 0 6px;
    gap: 2px;
    cursor: pointer;
    &.active {
        color: #1C6CFF;
        font-weight: 500;
    }
}