# registry="https://npm.aminer.cn/"
# registry="@zhipu:registry=https://npm.aminer.cn"
# registry=https://registry.npmmirror.com/

# yarn add aminer-pdf --registry=https://npm.aminer.cn

registry=https://registry.npmmirror.com

## 设置备用源
@zhipu:registry=https://npm.aminer.cn