.ppt_container {


    .ppt_page_item {
        border-width: 1px;
        border-style: solid;
        border-color: rgb(239, 239, 239);
        border-image: initial;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        background-color: rgb(245, 245, 245);
        padding: 4px 8px;
        align-items: center;
        display: flex;
        justify-content: space-between;

        .ppt_action_btn {
            color: #1C6CFF;

        }
    }
    .ant-spin-container{
        overflow: hidden;
    }

    .iframe_box_code {
        border: 1px solid #efefef;
        overflow: scroll;
        padding: 16px;
        .design_code {
            pre:not(.highlight) {
                background-color: #fff !important;
                border: none !important;
                overflow: hidden !important;
                div{
                    margin: 0 !important;
                }
            }
        }

    }


}
