.text_area_box {
  // border: 1px solid red;
  padding:  16px;
  height: calc(100vh - 108px);
  overflow: scroll;
  padding-bottom: 50px;
  .text_area_row {
    margin: 8px 0;
    .markdown_container {
      padding:10px
    }
  }
}
.edit_design_div_box {
  padding:2px 8px;  
  &:hover {
    background-color: rgba(79, 88, 102, 0.06);
  }
}

.editDesign{
  .textarea{
    height: calc(100vh - 138px);
    /* border-radius: 0; */
    border: 0px;
    border-radius: 0px !important;
  }
  
}
.editDesign:hover{
  .tabContainer{
    opacity: 1;
    visibility: visible;
  }
}
