.ppt-active{
    background-color: #1C6CFF !important;
    span{color: #ffffff !important;}
  }
  // .ppt-btn button span{
  //   color:#94A0B8;
  // }
  // .ppt-hover{
  //   &:hover{
  //       background-color: #1C6CFF !important;
  //       span{color: #ffffff !important;}
  //   }
  // }

  .ppt-html-hidden{
    display: none !important;
  }

.pptContainer:hover{
  .tabContainer{
    opacity: 1;
    visibility: visible;
  }
}