// 页面Header
.page-header {
  .resource-type-selector {
    .ant-btn {
      border-radius: 4px;
    }
  }
}

// 资源归属标签页
.resource-tabs {

  .ant-tabs {
    .ant-tabs-nav {
      margin-bottom: 0;
    }

    .ant-tabs-tab {
      font-size: 16px;
      font-weight: 400;
      height: 38px;
      color: #0F142A;
    }
  }
}

.switch-textbook-box {
  display: flex;
  gap: 4px;
  color: #1C6CFF;
  font-family: "PingFang SC";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  cursor: pointer
  /* 200% */
}
