.hour-design {
  height: 100%;

  &-left {
    height: 100%;
    padding: 0 !important;
    background: #fcfcff;
    position: relative;
    overflow: inherit !important;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &-right {
    height: 100%;
    background-color: #f8faff;
    overflow: hidden;
    position: relative;

    .affix-guide-btn {
      padding: 4px;
      border-radius: 8px;
      z-index: 10;
      cursor: pointer;
      position: absolute;
      bottom: 86px;
      left: 10px;
    }
  }

  .ant-splitter {
    .ant-splitter-panel {
      scrollbar-width: none;
    }

    .ant-splitter-bar:hover,
    .ant-splitter-bar:active {
      .ant-splitter-bar-collapse-bar {
        opacity: 0;
        cursor: unset;
      }
    }

    .ant-splitter-bar-dragger {
      background: #e9effe;
      width: 1px;

      &::after,
      &::before {
        content: none;
      }
    }
  }

  .ant-splitter-panel-hidden {
    .hour-header,
    .design-chat {
      display: none;
    }
  }

  .markdown_container {
    color: #1e253b;
    font-size: 16px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      font-weight: 600;
    }

    h1 {
      font-size: 24px;
      line-height: 34px;
      padding: 24px 0;
    }

    h2 {
      font-size: 20px;
      line-height: 28px;
      padding: 32px 0 4px 0;
    }

    h3 {
      font-size: 18px;
      line-height: 26px;
      padding: 32px 0 8px 0;
    }

    h4 {
      font-size: 16px;
      line-height: 22px;
      padding: 12px 0 4px 0;
    }

    h5 {
      font-size: 16px;
      line-height: 22px;
      padding: 12px 0 4px 0;
    }

    h6 {
      font-size: 16px;
      line-height: 22px;
      padding: 4px 0 4px 24px;
    }

    p {
      padding: 4px 0;
      line-height: 26px;
      margin: 0;
    }

    ul,
    ol {
      padding: 4px 0 4px 32px;
      margin: 0;

      li {
        padding: 4px 0;
        line-height: 26px;
      }
    }

    hr {
      border: 0.5px dashed #e2e6f0;
    }

    pre {
      padding: 8px !important;
      border-radius: 8px;
      background-color: #fff !important;

      code {
        color: #1e253b;
      }
    }

    table {
      border: none;

      tr {
        &:nth-child(2n) {
          background-color: #fff;
        }
      }

      thead tr:first-child th {
        padding: 10px;
        border: none;
        background-color: #f7f9fc;
        overflow: hidden;

        &:first-child {
          border-radius: 0;
        }

        &:last-child {
          border-radius: 0;
        }
      }

      td {
        padding: 10px;
        border: none;
        border-bottom: 1px solid #e2e6f0;
      }

      tbody tr:last-child {
        overflow: hidden;

        td {
          &:first-child {
            border-radius: 0;
          }

          &:last-child {
            border-radius: 0;
          }
        }
      }
    }

    .answer-box-table,
    .answer-lines-table {
      td {
        border-color: #cbd2e1 !important;
      }
    }

    .katex .mfrac .frac-line {
      position: relative;
      bottom: 5.5px;
    }
  }
}

.drawer-element {
  .ant-drawer-mask {
    background: transparent;
  }

  .ant-drawer-content-wrapper {
    box-shadow: -8px 0 12px 0 rgba(0, 0, 0, 0.08);
  }
}
