.team_page_container {
  padding-left: 16px;
  padding-right: 16px;
  background-color: var(--page-bg-color);
  background-image: url(~@/assets/chat_bg.png);
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: scroll;


}

.team_page_menu {
  margin: 16px 0;
  display: flex;
  justify-content: space-between;

  .team_page_menuLeft {
    flex: 1;
  }

  .team_page_menuRight {
    display: flex;
    align-items: center;
  }
}