.drawer_questions_pdf_box {
  width: 100%;
  height: 100%;
}

.ant-drawer-content-wrapper {
  border-top-left-radius: 16px !important;
}

.ant-drawer-content {
  border-top-left-radius: 16px !important;
  border-bottom-left-radius: 16px !important;
}

.drawer_title_box {
  display: flex;
  justify-content: space-between;
  padding-right: 32px;
}

.drawer_content_scope_box {
  text-align: left;
  width: 100%;
  height: 60px;
  line-height: 60px;

  .drawer_title_box_text {
    display: inline-block;
    margin-right: 16px;
  }

  .drawer_title_box_input_line {
    display: inline-block;
    margin: 0 16px;
  }

  .drawer_title_box_input_number {
    width: 300px;
  }

  .drawer_content_scope_box_css {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    align-items: center;

  }
}

.drawer_title_box_input_number {
  border: 1px solid #1C6CFF !important;
}

.back_btn_css {
  border: 1px solid #e2e6f0;
  color: #333c55 !important;

  &:hover {
    // border: 1px solid #1558CC !important;
    // color: #1558CC !important;
  }
}

.submit_btn_css {
  background: #1C6CFF;
  color: #fff !important;

  &:hover {
    // background: #1558CC !important;
    // color: #fff !important;
  }
}

.back_btn_css_less {
  border: 1px solid #e2e6f0 !important;
  color: #333c55 !important;
  font-size: 14px !important;

  &:hover {
    // border: 1px solid #1558CC !important;
    // color: #1558CC !important;
  }
}

.submit_btn_css_less {
  background: #1C6CFF !important;
  color: #fff !important;
  font-size: 14px !important;

  &:hover {
    // background: #1558CC !important;
    // color: #fff !important;
  }
}

.drawer_questions_pdf_box_css {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  .catalog-tree {
    width: 280px;
    height: calc(100vh - 130px);
    border-right: 1px solid #f2f5fa;
    overflow: scroll;
  }
  .carousel-css-box {
    flex: 1;
  }
}
.drawerjiaoan{
  .ant-drawer-body {
    flex: 1;
    min-width: 0;
    min-height: 0;
    padding: 0px;
    overflow: auto;
}

}