.header-box {
  padding: 0 16px;
  border-radius: 8px;

  &-select {
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 4px;
    position: relative;
    width: 234px;

    .ant-select {
      border-radius: 8px;
      // background-color: #E2E5F0;
      background: rgba(226, 230, 240, 0.50);
    }

    .ant-select-selector {
      font-size: 14px;
      padding: 0 16px !important;
      padding-right: 26px !important;
    }

    .ant-select-selection-item {
      color: #1E253B;
    }

    .ant-select-arrow {
      color: #646E8B;
      inset-inline-end: 20px;
    }
  }

  // .setting {
  //   font-size: 14px;
  //   background-color: #E2E5F0;
  // }

  // .ant-segmented {
  //   padding: 4px;
  //   background: #E2E5F0;
  //   border-radius: 8px;

  //   &-group {
  //     gap: 2px;
  //   }

  //   &-item {
  //     color: #475069;
  //     width: 60px;
  //     border-radius: 6px;

  //     &-label {
  //       line-height: 32px;
  //       min-height: 32px;
  //     }
  //   }

  //   &-item-selected {
  //     color: #1C6CFF;
  //     font-weight: 500;
  //   }
  // }
}

.space_item_container {
  display: flex;
  justify-content: space-between;

  .space_item_container_title {
    display: inline-block;
    max-width: 168px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .anticon-check {
    color: #10B981;
  }
}

.ant-select-item-option {
  height: 32px;
  padding: 6px 8px !important;
  border-radius: 6px !important;
}
// .ant-select-item-option-active {
//   background-color: #F7F9FC !important;
// }
// .ant-select-item-option-selected {
//   background-color: #EDF4FF !important;
// }
