.form-option-container{
    display: flex;
    justify-content: space-between;

    .option-btn{
        border-radius: 6px;
        background:  #E8EBF3;
        width: 100%;
        text-align: center;
        margin-left: 4px;
        margin-right: 4px;
        cursor: pointer;
        padding: 3px 8px;
    
      }
    
      .option-btn-activate{
        border-radius: 6px;
        background:  #1C6CFF;
        color: #fff;
      }
  }
