.markdown-content {
  line-height: 1.8 !important;
  white-space: pre-wrap;
  word-break: break-word;
  /* 终极兜底：所有行内元素强制垂直居中 */
  .katex {
    line-height: 0.6;
    position: relative;
    text-indent: 0;
    text-rendering: auto;
  }
  ol {
    margin: 0px;
    padding: 0px 20px !important;
    border-radius: 8px;
  }
  ul {
    margin: 0px;
    padding: 0px 20px !important;
    border-radius: 8px;
  }
}
