// .middle-part {
//   width: 100%;
//   height: 100%;
//   display: flex;
//   flex-direction: column;
//   border-radius: 12px;
//   overflow: hidden;

//   &-header {
//     height: 40px;
//     padding: 0 10px;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     background: #fff;
//     border-bottom: 1px solid #e5e7eb;

//     &-title {
//       display: inline-block;
//       padding-right: 10px;
//     }
//   }
// }
.mind_graph_outline_body_container {
  height: calc(100vh - 100px);
  overflow: scroll;
  padding: 16px;
  background-color: #fff;
  .title_level{
    display: inline-block;
    color: #1C6CFF;
    font-size: 20px;
    line-height: 22px;
    padding-left: 8px;
    margin-right: 6px;
    min-width: 16px;
  }
}
