.analysis-class-select {
  width: 180px;

  .select-icon {
    width: 12px;
    height: 12px;
    color: #333c55;
  }
}

.analysis-class-select-loading {
  display: flex;
  align-items: center;
  padding: 0 12px;
}
