// 子题容器样式
.question-children {
  margin-top: 16px;
  padding-left: 26px;
//   border-left: 2px solid #E5E7EB;
  
  .child-question {
    // margin-bottom: 16px;
    
    &:last-child {
      margin-bottom: 0;
    }
    
    .child-question-clickable {
      cursor: pointer;
      
      .child-question-stem {
        display: flex;
        align-items: baseline;
        margin-bottom: 8px;
        font-size: 14px;
        color: #1E253B;
        line-height: 1.5;
        font-weight: 500;

        .child-question-number {
          font-size: 14px;
          font-weight: 500;
          color: #6B7280;
          flex-shrink: 0;
          line-height: 1.5;
          width: 26px;
        }

        .child-question-text {
          font-size: 14px;
          color: #1E253B;
          line-height: 1.5;
          font-weight: 500;
          flex: 1;
          
          p {
            margin-bottom: 4px;
          }
          
          img {
            display: inline;
            vertical-align: middle;
          }
        }
      }

      .child-question-audio {
        padding-left: 26px;
        margin-bottom: 8px;
      }

      .child-question-options {
        display: flex;
        flex-direction: column;
        gap: 6px;
        margin-bottom: 8px;
        padding-left: 26px;

        .child-option-item {
          font-size: 14px;
          min-height: 20px;
          line-height: 20px;

          .child-option-label {
            font-weight: 400;
            margin-right: 2px;
            flex-shrink: 0;
            color: #333C55;
          }

          .child-option-content {
            flex: 1;
            color: #333C55;
            
            img {
              display: inline;
              vertical-align: middle;
            }
          }
        }
      }
    }

    .child-question-answer-section {
      padding-left: 26px;
      
      .child-question-answer {
        margin-bottom: 4px;
        font-size: 14px;
        font-weight: 600;
        color: #1E253B;
      }

      .child-question-analysis {
        font-size: 14px;
        font-weight: 400;
        color: #333C55;
        line-height: 1.5;
      }
    }
  }
}