.tourstepsimg{
    display: flex;
    align-items: center;
}
.tourtitle{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #1E253B;
}
.tourdescription{
    width: 380px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #475069;
    &_con{
        color: #1C6CFF;
    }
}