.question-basket-wrap {
  .float-button {
    width: 60px;
    height: 72px;
    right: 18px;
    bottom: 100px;

    .ant-float-btn-body {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #1E253B;
    }

    .icon {
      margin-bottom: 4px;
      color: #646E8B;
    }
  }
}
.ant-alert-info {
  border: none;
  background-color: #EDF4FF;
}
.question-basket-wrap-drawer {
  .ant-drawer-body {
    .ant-empty {
      margin-inline:0 !important
    }
  }

  .question-basket-list {
    .question-basket-group {
      & + .question-basket-group {
        margin-top: 8px;
      }
    }

    .question-basket-group-title {
      margin: 24px 8px;
      font-size: 16px;
      font-weight: 600;
      color: #1E253B;
    }
  }
}
