.course-drawer-modal {
  .ant-modal-content {
    // background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: white;
  }

  .ant-modal-header {
    background-color: transparent;
    border-bottom: none;
  }
  .label-item-css {
    margin-bottom: 20px;
  }
}
