.publish_library_btn{
    border: 1px solid #1C6CFF !important;
    color: #1C6CFF !important;
    background-color: #fff !important;
    border-radius: 8px;
    font-size: 14px !important;
    height: 28px !important;
    padding: 4px 12px;
    gap: 4px;
}
.publish_library_btn:hover{
    background: #1C6CFF !important;
    color: #fff !important;
}