.team_member_option_box {
  display: flex !important;
  justify-content: space-between !important;

  .team_member_option_btn_css_disabled {
    background: #DDD6FE !important;
    color: #fff !important;
  }


  .team_member_option_info {
    display: inline-block;
  }

  .team_member_name {
    color: var(---, #1E253B);
    font-family: "PingFang SC";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .team_member_id,
  .team_member_phone {
    color: var(---, #646E8B);
    font-family: "PingFang SC";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .team_member_option_btn {
    display: flex !important;
    align-items: center;
    display: inline-block;
  }

  .team_member_option_btn_css {
    width: 56px;
    height: 28px;
  }


}

.team_member_select_css {
  .ant-select-item {
    height: 76px !important;
  }
}
