.push_class_modal_box {
  .publish_css {
    color: var(---9-, #1E253B);
    font-family: "PingFang SC";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 15.6px */
    text-transform: capitalize;

    &:hover {
      color: var(---9-, #1E253B) !important;
    }

    // border: 1px solid #A8C8FF !important;
    // color: #1C6CFF !important;
    // background-color: #fff !important;
    // font-size: 12px;
    // gap: 4px;

    // &:hover {
    //   background-color: #1C6CFF !important;
    //   color: #fff !important;
    // }

  }

  .publish_css_disable {
    // color: #DDD6FE !important;
    // border: 1px solid #DDD6FE !important;
    // background-color: #fff !important;
  }

  .publish_class_css {
    color: var(---9-, #1E253B);
    font-family: "PingFang SC";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 15.6px */
    text-transform: capitalize;
    // background-color: #1C6CFF !important;
    // color: #fff !important;
    // font-size: 12px;

    &:hover {
      color: var(---9-, #1E253B) !important;
    }
  }


  .publish_css_chat {
    color: #333C55 !important;
    font-size: 12px;
    background-color: #fff !important;
    margin-right: 12px;
    gap: 4px;
    padding: 0px;

    &:hover {
      color: #94A0B8 !important;
    }
  }

  .publish_css_chat_disable {
    color: #94A0B8 !important;
    font-size: 12px;
    background-color: #fff !important;
    margin-right: 12px;
    gap: 4px;
    padding: 0px;
  }

  .publish_class_css_chat {
    font-size: 12px;
    background-color: #EDF4FF !important;
    border: 1px solid rgba(196, 181, 253, 1) !important;
    color: #1558CC !important;
    border-radius: 16px !important;
    box-shadow: none;
    height: 24px;
    padding: 4px 8px !important;
    gap: 4px;

    &:hover {
      background-color: #1C6CFF !important;
      color: #fff !important;
    }
  }
}

.selected_preview_box_css {
  // display: flex;
  // margin: auto;
  width: 100%;
  height: 300px;
  // text-align: center;
  background: rgba(247, 249, 252, 1);
  border-radius: 8px;
  padding: 8px 12px;
  overflow-y: scroll;
}

.group_sub_student_tree_box_css {
  .group_sub_student_tree_box_title {
    color: var(---9-, #1E253B);
    font-family: "PingFang SC";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    // margin-bottom: 8px;
    /* 171.429% */
  }

  .group_sub_student_tree_box_grp_box {
    color: var(--9, #1E253B);
    font-family: "PingFang SC";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
     margin-bottom: 8px;
    /* 171.429% */
  }

  .group_sub_student_tree_box_grp_box_name {
    color: var(--6, #646E8B);
    font-family: "PingFang SC";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}
  .push_to_class_time_text {
    display: flex;
    align-items: center;
    transform: translate(8px,34px);
  }
