.relation_subject_container {
  height: calc(100vh - 60px);
  background-color: #ffffff;
  position: relative;
  border-left: 1px solid #EDF0F5;

  .add_btn_node {
    position: absolute;
    right: 16px;
    margin-top: 16px;
    z-index: 1000;
  }

  .node_name {
    padding-top: 84px;
    width: 80px;

    .node_text {
      color: #666666;
    }
  }

  .c-node-menu-item {
    line-height: 30px;
    padding-left: 10px;
    cursor: pointer;
    color: #444444;
    font-size: 14px;
    border-top: #efefef solid 1px;
  }

  .c-node-menu-item:hover {
    background-color: rgba(66, 187, 66, 0.2);
  }

  .c-object-info {
    line-height: 18px;
    padding-left: 10px;
    color: #888888;
    font-size: 12px;
  }

  .c-right-menu-panel {
    z-index: 999;
    // padding: 10px;
    background-color: #ffffff;
    // border: #eeeeee solid 1px;
    // box-shadow: 0px 0px 8px #cccccc;
    position: absolute;
    border-radius: 10px;
    box-shadow:
      0 4px 12px 0 rgba(0, 0, 0, 0.08),
      0 0 4px 0 rgba(0, 0, 0, 0.08);

    // width: 200px;
    .ant-menu-vertical {
      border-inline-end: none !important;
    }

    ul {
      border-radius: 10px;
    }
  }

  .c-my-panel {
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 10px;
    z-index: 800;
    background-color: #efefef;
    border: #eeeeee solid 1px;
    padding: 20px;

    .c-option-name {
      color: #666666;
      font-size: 14px;
      line-height: 40px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .c-my-button {
      border-radius: 5px;
      height: 42px;
      width: 150px;
      text-align: center;
      line-height: 30px;
      padding: 5px;
      cursor: pointer;
      background-color: #ffffff;
      border: rgba(79, 30, 30, 1) solid 1px;

      &:hover {
        transition:
          background-color 0.2s ease,
          outline 0.2s ease,
          color 0.2s ease,
          -webkit-box-shadow 0.2s ease;
        box-shadow: 0 0 0 5px rgba(79, 30, 30, 0.3);
      }
    }

    .c-my-button-checked {
      transition:
        background-color 0.2s ease,
        outline 0.2s ease,
        color 0.2s ease,
        -webkit-box-shadow 0.2s ease;
      box-shadow: 0 0 0 5px rgba(79, 30, 30, 0.3);
      background-color: rgba(79, 30, 30, 1);
      color: #ffffff;
    }
  }

  .relation-graph {
    background-color: #ffffff;

    .rel-easy-view {
      background-color: #ffffff !important;
    }
  }
}

// .relation-graph .rel-toolbar-v-center {
//   top: 90% !important;
//   left: 50% !important;
//   transform: translate(-50%, -50%) !important;
// }

.relation-graph .rel-toolbar {
  position: absolute;
  z-index: 300;
  background-color: #fff !important;
  color: #999;
  box-shadow: 0 0 2px #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 3px;
  //   width: 345px !important;
  // display: flex;
  // justify-content: space-around;
  // align-items: center;
}

.relation-graph .rel-toolbar .c-mb-button {
  height: 40px;
  width: 40px !important;
  margin-top: 0;
  opacity: 1;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-items: center;
  border-radius: 3px;
}

.relation-graph .rel-node-dragging {
  z-index: 400 !important;
  border-radius: 47px !important;
  box-shadow: 0px 0px 8px #1C6CFF99 !important;
}
.relation-graph .c-rg-line-checked-bg {
    stroke: #1C6CFF99 !important;
    stroke-linecap: round;
}

.relation-graph .rel-node-peel {
  padding: 0px !important;
  position: absolute !important;
  font-size: 14px !important;
  box-sizing: border-box !important;
}

.relation_container {
  // width: 108px;
  padding: 4px 8px;
  // height: 40px;
  background-color: rgb(255, 255, 255);
  z-index: 1000;
  border: #e2e6f0 solid 1px;
  border-radius: 6px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;

  &_left {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #646e8b;

    &:hover {
      background: #F7F9FC;
      border-radius: 8px
    }
  }

  &_leftact {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #646e8b;
    background-color: #f1e8ff;
    color: #1C6CFF;
  }
}

.guanlian-materials {
  margin-top: 34px;
}


.relation_container_css {
  // width: 108px;
  padding: 4px 8px;
  // height: 40px;
  background-color: rgb(255, 255, 255);
  z-index: 1000;
  border: #e2e6f0 solid 1px;
  border-radius: 6px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;

  &_left {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #646e8b;

    &:hover {
      background: #F7F9FC;
      border-radius: 8px
    }

    // .hover_icon_css {
    //   display: block;
    // }

    .shanchu_icon {
      display: none;
    }
  }

  &_leftact {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #646e8b;
    background-color: #f1e8ff;
    color: #1C6CFF;

    .shanchu_icon {
      display: none;
    }

    .hover_icon_css {
      display: block;
    }

    &:hover {
      .shanchu_icon {
        display: block;
      }

      .hover_icon_css {
        display: none;
      }
    }
  }
}
