.team_table_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 0 16px;
  color: #646E8B;
  font-family: "PingFang SC";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  .team_table_headerNum {
    margin: 0 6px;
  }

  .team_table_headerNumActive {
    color: #444CE7;
    font-weight: 600;
  }

}

.department-name-tag {
  max-width: 150px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.modal_user_box {
  .modal-form-label {
    margin-bottom: 4px;
  }
}

.user_icon_red {
  color: red;
}

.user_list_box {
  th {
    &::before {
      display: none !important;
    }
  }
}
