.chat_summary {
  padding-top: 12px;
  .title {
    color: #1E253B;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding-bottom: 8px;
  }

  .content {
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .content_list {
    color: #333C55;
    font-size: 14px;
    line-height: 22px;
    padding: 8px 10px;
    border-radius: 8px;
    background-color: #F7F9FC;
    cursor: pointer;
  }
}
