.search-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  
  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  
  &-text {
    font-size: 14px;
    color: #646e8b;
  }
  
  .ant-spin {
    .ant-spin-dot {
      i {
        background-color: #1C6CFF;
      }
    }
  }
}