.mind_map_continer {
  height: calc(100vh - 100px);
  scrollbar-width: none;
  overflow: auto;
  #mindMapContainer {
    background-color: #fff !important;
  }

  .smm-mind-map-container {
    svg {
      width: 100% !important;
      height: 100% !important;
    }
  }

  .choose-container {
    border: 1px solid #E2E6F0;
    width: 169px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: #fff; /* 背景颜色 */
    padding: 5px 20px;
    border-radius: 20px;
    /* 圆角 */
    width: fit-content;
    /* 根据内容自动调整宽度 */
    position: absolute;
    bottom: 100px;
    right: 0;
    left: 0;
    margin: 0 auto;
    box-shadow: 0 5px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
    .ant-select {
      width: 80px !important;
    }
    .line-box {
      display: inline-block;
      color: #E2E6F0;
      margin-left: 8px;
      font-size: 20px;
    }
  }

  //  .figure_box {
  //   svg {
  //     width: 100% !important;
  //     height: 100% !important;
  //   }
  // }

}
