.drawercontainer {
  .check_file_list_box_css {
    // width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    .check_file_list_box_css_left {
      display: flex;
      align-items: center;
      .check_file_list_box_right {
        margin-left: 10px;
        .check_file_list_box_doc_name {
          font-size: 14px;
          color: #1C6CFF;
          line-height: 20px;
          // 字体加粗
          font-weight: bold;
        }
      }
    }
    .check_file_list_box_jump {
      margin-left: 10px;
    }
  }
  .loading_container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(100, 110, 139);
    .ant-spin-text {
      padding-top: 18px !important;
    }
  }
  .check_file_list_box {
    width: 100%;
    // margin-top: 20px;
    .text_box {
      .markdown_container {
        line-height: 20px;
        font-size: 14px;
        color: #475069;
      }
    }
  }
  .drawer_questions_pdf_title {
    width: 100%;
    display: flex;
    align-items: center;
    .drawer_questions_pdf_title_text {
      margin-left: 10px;
    }
  }
  .ant-drawer .ant-drawer-header {
    height: 60px;
    align-items: flex-start;
  }
  .ant-drawer .ant-drawer-body {
    padding-top: 10px;
  }
  .markdown_container h1 {
    font-size: 14px;
    color: #475069;
    line-height: 20px;
  }
  .markdown_container p {
    font-size: 13px;
    color: #475069;
    line-height: 20px;
  }
}
