.multi-select-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  flex: 1;

  .select-tag {
    cursor: pointer;
    background-color: #F2F5FA;
    border-radius: 4px;
    padding: 0 8px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    transition: all 0.2s;
    margin: 0;
    color: #475069;
    
    &:hover {
      background-color: #1C6CFF;
      color: #FFFFFF;
    }
    
    &.ant-tag-checkable-checked {
      background-color: #EDF4FF;
      color: #1C6CFF;
      // &:hover {
      //   background-color: #1C6CFF;
      //   color: #FFFFFF;
      // }
    }
  }
}