.edu-content {
  display: flex;


}

.edu-source {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
  flex: 1;
  // height: 100%;
  // overflow-y: auto;

  &-header {
    display: flex;
    justify-content: space-between;
  }

  &-filter {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;

    .filter_item {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      height: 28px;
      padding: 3px 8px;
      color: #475069;
      border-radius: 4px;
      background: #f2f5fa;
      border: 1px solid #f2f5fa;
      cursor: pointer;

      &:hover {
        color: #fff;
        background: @primary-color;
        border: 1px solid @primary-color;
      }

      &.active {
        color: #1C6CFF;
        background: #EDF4FF;
        border: 1px solid #DDD6FE;
      }
    }
  }

  &-content {
    height: calc(100vh - 180px);
    overflow-y: scroll;
    padding-top: 4px;

    .card-content {
      display: grid;
      grid-template-columns: repeat(auto-fill, 220px);
      justify-content: start;
      gap: 10px;

      &-item {
        border: 1px solid #E2E6F0;
        border-radius: 8px;
        width: 220px;
        background-color: #fff;
        cursor: pointer;
        position: relative;

        &:hover {
          transform: translateY(-4px);
          box-shadow:
            0px 6px 12px 0px rgba(16, 24, 40, 0.06),
            0px 0px 6px 0px rgba(16, 24, 40, 0.08);
        }

        &-tag {
          position: absolute;
          z-index: 1;
          top: 6px;
          left: 6px;
          display: flex;
          flex-direction: column;
          gap: 6px;
        }

        &-body {
          height: 120px;
          padding-top: 8px;
          display: flex;
          justify-content: center;
          overflow: hidden;
          box-shadow: 0px -2px 4px 0px #646E8B1F inset;
          background-color: #F2F5FA;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;

          .ant-image {
            width: 148px;
            height: 210px;
            background-color: #fff;
          }

          .ant-image-error {
            height: 148px;
          }

          .graph-img {
            width: 220px;
            margin-top: -8px;
          }

          .ppt-img // .audio-img

            {
            background: center/contain url('@/assets/ppt_bg.png');
            width: 220px;
            margin-top: -9px;
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            padding: 8px 36px;
            display: flex;
            align-items: center;
          }

          .audio-img {
            // background: center/contain url('@/assets/audio_bg.png');

          }

          .audio-img,
          .video-img,
          .no-video-img {
            position: relative;
            margin-top: -8px;

            .bgimg {
              height: 120px;
            }

            .play {
              font-size: 50px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }

            .video-mask-layer,
            .audio-mask-layer {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              background: #000;
              opacity: 0.2
            }

            .video-mask-name,
            .audio-mask-name {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: #fff;
              font-size: 18px;
              max-width: 172px;
              overflow-wrap: break-word;
              word-break: normal
            }
          }

          &-text {
            width: 148px;
            height: 120px;
            background-color: #fff;
            border-radius: 4px;
            padding: 8px 12px;

            .title {
              height: 18px;
              color: #3F3F3F;
              font-size: 12px;
              font-weight: 500;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }

            .lines {
              display: flex;
              flex-direction: column;
              gap: 8px;
              margin-top: 14px;

              >li {
                width: 100%;
                height: 6px;
                border-radius: 2px;
                background-color: #F2F5FA;
              }
            }
          }

          .ant-skeleton {
            width: 218px;
            height: 121px;
            margin-top: -10px;
            background-color: #fff;

            .ant-skeleton-image {
              width: 100%;
              height: 100%;
              border-radius: 0;
              background: linear-gradient(90deg, rgb(242, 245, 250) 25%, rgb(242 245 250 / 20%) 37%, rgb(242 245 250) 100%);
              background-size: 400% 100%;
            }
          }
        }

        &-footer {
          height: 60px;
          padding: 8px;

          .title {
            color: #1E253B;
            font-weight: 500;
            line-height: 22px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .svg-icon {
            margin-right: 4px;
          }

          .desc {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 18px;
            color: #646E8B;
            height: 22px;
            line-height: 18px;
            font-size: 12px;

            .ant-btn:hover {
              background-color: #F7F9FC;
            }
          }
        }
      }
    }

    .empty-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-size: 16px;
      color: var(---8, #646e8b);
      padding: 64px 0;

      .empty-img {
        color: #c2caf2;
        font-size: 50px;
      }
    }
  }
}

.menu-icon {
  .svg-icon {
    font-size: 16px !important;
  }

  .ant-dropdown-menu-title-content {
    margin-right: 16px;
  }
}

.ant-dropdown-menu-item {
  &:hover {
    background-color: #F7F9FC !important;
  }
}

.progress-tip {
  max-width: unset;
}
