.previewEditToolbar{
    opacity: 0;
    visibility: hidden;
    .ppt_btn{
      display: inline-flex;
      padding: 6px 12px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      flex-shrink: 0;
      color: #333C55;
      font-size: 14px;
      font-weight: 500;
      border-radius: 8px;
      border-radius: 8px;
      border: 1px solid #E2E6F0 !important;
      background: #FFF;
    }
    .pd-8-24{
      padding: 8px 24px;
    }

    .ppt-btn button span{
      color:#94A0B8;
    }
    .ppt-hover{
      &:hover{
          border: 1px solid #CBD2E1 !important;
          color: unset !important;
          background: #FFF !important;
      }
    }
    .ppt-active{
      background: #1C6CFF;
      color: #fff;
    }
    .ppt-active-hover:hover{
      background: #1C6CFF;
    }
    .cancelAndSaveBtn{
      gap: 12px;
    }
  }