.subject_footer_container {

  height: 60px;
  margin-top: -60px;
  margin-bottom: 0px;
  padding: 0px;
  padding-top: 0px;
  position: fixed;
  background-color: antiquewhite;
  bottom: 0px;
  width: 100%;
  
  z-index: 100;
  .k12_desc_footer {
    display: flex;
    justify-content: center;
    // padding-top: 16px;
    padding-left: 244px;
    margin-top: 16px;
  }

}