.setting_topic_title_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;

  .setting_topic_title_left {
    display: flex;
    justify-content: flex-start;
    // gap: 12px;
    color: var(---9-, #1E253B);
    font-family: "PingFang SC";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    align-items: center;
    gap: 16px;
  }

  .setting_topic_title_left_text {
    display: inline-block;
    vertical-align: middle;
  }

  .setting_topic_title_left_icon {
    display: inline-block;
    color: #94A0B8;
    width: 18px;
    height: 18px;
    margin-left: 8px;
    margin-right: 16px;
    vertical-align: middle;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .setting_topic_title_cascader {
    min-width: 320px;
    font-size: 14px;
    font-weight: 400;
  }

  .setting_topic_title_box_popover {
  }
  .setting_topic_popover_css {
    padding: 4px;
    // border: 1px solid red;
  }

  .setting_topic_popover_box {
    display: flex;
    justify-content: start;
    gap: 8px;
    margin-bottom: 24px;
  }

  .setting_topic_popover_box_status_text {
    color: var(--6, #646E8B);
    font-family: "PingFang SC";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 16.8px */
    text-transform: capitalize;
    display: flex;
    align-items: center;
  }

  .setting_topic_popover_box_status_released {
    display: flex;
    padding: 2px 6px;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: var(--2, #FFF3E3);
    color: var(--2, #FFAD37);
    text-align: center;
    font-family: "PingFang SC";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .setting_topic_popover_box_status_parsing {
    display: flex;
    padding: 2px 6px;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: var(--2, #FFEEF8);
    color: var(--2, #F14BA9);
    text-align: center;
    font-family: "PingFang SC";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .setting_topic_popover_box_status_editing {
    display: flex;
    padding: 2px 6px;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: var(--2, #EDF4FF);
    color: var(--2, #1C6CFF);
    text-align: center;
    font-family: "PingFang SC";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .setting_topic_popover_box_status_parse_failed {
    display: flex;
    padding: 2px 6px;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: var(--2, #FEF3F2);
    color: var(--2, #EF4444);
    font-family: "PingFang SC";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .setting_topic_popover_box_status_failed {
    display: flex;
    padding: 2px 6px;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: var(--2, #FEF3F2);
    color: var(--2, #EF4444);
    text-align: center;
    font-family: "PingFang SC";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .setting_topic_popover_box_status_no_start {
    display: flex;
    padding: 2px 6px;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: var(--2, #E1FAEB);
    color: var(--2, #1A805E);
    text-align: center;
    font-family: "PingFang SC";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .setting_topic_popover_box_status_under_way {
    display: flex;
    padding: 2px 6px;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: var(--2, #EAF1FC);
    color: var(--2, #2B75D9);
    text-align: center;
    font-family: "PingFang SC";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .setting_topic_popover_box_status_finished {
    display: flex;
    padding: 2px 6px;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: var(--2, #F2F5FA);
    color: var(--2, #94A0B8);
    text-align: center;
    font-family: "PingFang SC";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.setting_topic_title_right_dropdown {
  // padding: 2px;
  padding-right: 1px;
}
