.review {
  cursor: pointer;
  &-but {
    color: #646e8b;
    &:hover {
      color: #1C6CFF;
    }
    &-icon{
        margin-right: 5px;
    }
  }
  &-comment {
    &-item {
      margin-bottom: 10px;
    }
    &-vard {
      &:hover {
        color: #1C6CFF;
      }
      &-icon{
        margin-right: 5px;
      }
    }
  }
}
