.accuracy-evaluate {
  width: 100%;
  //   height: 270px;
  background-color: #f6f4ff;
  // padding: 12px;
  border-radius: 12px;
  // border: 0.5px solid #e2e6f0;
  background-color: #ffffff;
  &-title {
    width: 100%;
    &-top {
      font-weight: 500;
      font-size: 16px;
      display: flex;
      align-items: center;
      &-text {
        font-weight: 600;
        font-size: 20px;
        color: #1e253b;
        // background-image: linear-gradient(
        //   245.56deg,
        //   #8447ff 12.51%,
        //   #6445ff 38.23%,
        //   #444ce7 74.72%
        // );
        // -webkit-background-clip: text;
        // background-clip: text;
        // // 3. 文字本身设为透明，露出背景渐变
        // color: transparent;
      }
    }
    &-bottonex {
      display: flex;
      flex-direction: column;
      &-bottom {
        padding: 10px 0 0 0;
        height: 80px;
        overflow: hidden;
        &-tag {
          background-color: #f2f5fa;
          max-width: 20em;
          padding: 3px 8px 3px 8px;
          font-size: 14px;
          margin-bottom: 8px;
          // 最多20个字 超出省略号显示
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          // 去掉边框
          border: none;
          margin-right: 5px;
        }
      }
      &-bottomexpanded {
        padding: 10px 0 0 0;
        &-tag {
          background-color: #f2f5fa;
          max-width: 20em;
          padding: 3px 8px 3px 8px;
          font-size: 14px;
          margin-bottom: 8px;
          // 最多20个字 超出省略号显示
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          // 去掉边框
          border: none;
        }
      }
    }
  }
  &-knowledge {
    width: 100% !important;
    overflow: hidden !important;
  }
  &-image{
    margin-top: 20px;
  }
}
.varaccuracytag-container {
  .varaccuracytag {
    background-color: #f2f5fa;
    max-width: 20em;
    padding: 3px 8px 3px 8px;
    font-size: 14px;
    margin-bottom: 8px;
    // 最多20个字 超出省略号显示
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    // 去掉边框
    border: none;
    &-zyicon {
      display: flex;
    }
  }
}
