.compevaluate {
  margin-bottom: 20px;
  &-content {
    padding: 16px;
    background-color: #f7f9fc;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    align-items: baseline;
    &-img {
      width: 12px;
      height: 9px;
      // display: inline-block;
      margin-right: 5px;
      line-height: 100%;
      &-iocn {
        width: 11px;
      }
    }
    &-text {
      width: calc(100% - 11px) !important;
      font-size: 14px;
      font-weight: 400;
      color: #1e253b;
      line-height: 23px;
    }
  }
}
