// .headertab {
//   .title {
//     width: 100%;
//     height: 35px;
//     // background-color: antiquewhite;
//     display: flex;
//     justify-content: space-between;
//     .title-box {
//       display: flex;
//       h1 {
//         font-size: 24px;
//         color: #000000;
//         font-weight: 600;
//       }
//       .select-box {
//         //   去掉边框
//         border: none !important;
//         margin-left: 10px;
//         // 灰色背景色
//         background-color: #f0f0f0 !important;
//         // 圆角
//         border-radius: 12px;
//         // 字体颜色
//         color: #646e8b !important;
//         // 字体大小
//         font-size: 14px;
//         // 字体粗细
//       }
//       .ant-select-outlined:not(.ant-select-customize-input)
//         .ant-select-selector {
//         border: none !important;
//         background-color: #f0f0f0 !important;
//         color: #646e8b;
//       }
//     }
//     .title-right {
//       display: flex;
//       align-items: center;
//       gap: 10px;
//       .inp {
//         width: 240px;
//         height: 32px;
//       }
//     }
//   }
// }
// .title-tab {
//   .ant-tabs .ant-tabs-tab {
//     font-size: 16px;
//   }
// }
// .tab-content {
//   display: flex;
//   align-items: baseline;
//   gap: 8px;
//   flex-wrap: wrap;
//   // 鼠标换成手形
//   .tab-content-item:hover {
//     cursor: pointer;
//   }
//   .tab-content-item {
//     border: 1px solid #ffffff;
//     background-color: #f0f0f0;
//     padding-left: 12px;
//     padding-right: 12px;
//     padding-top: 2px;
//     padding-bottom: 2px;
//     border-radius: 20px;
//   }
//   .tab-content-item-active {
//     color: var(---800, #1C6CFF);
//     border: 1px solid var(---200, #ddd6fe);
//     background: var(---100, #EDF4FF);
//     padding-left: 12px;
//     padding-right: 12px;
//     padding-top: 2px;
//     padding-bottom: 2px;
//     border-radius: 20px;
//   }
// }
// // 给title-box设置最小宽度
// .headertab .title .title-box {
//   min-width: 300px;
// }


.add_btn_node{
  position: absolute;
  right: 16px;
  margin-top: 16px;
  z-index: 1000;
}
